.home-page-child {
    position: absolute;
    width: 127.47%;
    top: 595px;
    right: -17.33%;
    left: -10.14%;
    max-width: 100%;
    overflow: hidden;
    height: 2656.3px;
}
.pattern-design-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 1111px;
}
.connecting-top-talent {
    align-self: stretch;
    position: relative;
}
.span {
    font-family: 'DM Sans';
}
.satisfied-customers1 {
    font-weight: 600;
}
.satisfied-customers {
    color: #fff;
}
.over-10000-satisfied-container {
    width: 563px;
    position: relative;
    font-size: 18px;
    display: inline-block;
    color: #d7d7d7;
    font-family: 'DM Sans';
}
.connecting-top-talent-with-lea-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.book-a-call {
    position: relative;
    font-weight: 600;
}
.book-a-call-wrapper {
    width: 130px;
    border-radius: 10px;
    background-color: #008080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: #f4f4f4;
}
.frame-parent {
    position: absolute;
    top: 212px;
    left: calc(50% - 478px);
    width: 955px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
    font-size: 68px;
    color: #fff;
}
.image-5-icon {
    position: relative;
    top: 584px;
    left: 70px;
    border-radius: 20px;
    width: 1300px;
    height: 760px;
    object-fit: cover;
}
.vector-icon {
    width: 17px;
    position: relative;
    max-height: 100%;
}
.vector-wrapper {
    position: absolute;
    top: 309px;
    left: calc(50% - 40px);
    border-radius: 99px;
    border: 1.5px solid #f0f2f0;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.image-5-parent {
    position: absolute;
    top: 669px;
    left: 70px;
    width: 1300px;
    height: 760px;
}
.image-7-icon {
    width: 552px;
    position: relative;
    border-radius: 20px;
    height: 543px;
    object-fit: cover;
}
.careers-building {
    color: #008080;
}
.empowering-careers-building-container {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    display: inline-block;
    height: 144px;
    flex-shrink: 0;
}
.we-take-the {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-family: 'DM Sans';
    color: #1d1d1d;
}
.empowering-careers-building-f-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.try-recruitment-process {
    position: relative;
    font-weight: 500;
}
.try-recruitment-process-wrapper {
    width: 226px;
    border-radius: 8px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    font-family: 'DM Sans';
}
.frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.frame-child {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #535353;
    box-sizing: border-box;
    height: 1px;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px;
}
.providing-companies-with {
    position: absolute;
    top: 48px;
    left: 51px;
    font-weight: 500;
    display: inline-block;
    width: 612px;
}
.group-icon {
    width: 36px;
    position: relative;
    max-height: 100%;
}
.group-group {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    font-size: 20px;
    font-family: Poppins;
}
.providing-companies-with-excep-parent {
    width: 663px;
    position: relative;
    height: 90px;
}
.group-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
    font-size: 16px;
    font-family: 'DM Sans';
}
.frame-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px;
}
.image-7-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}
.try-recruitment-process-container {
    width: 226px;
    border-radius: 8px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    font-family: 'DM Sans';
}
.group-parent2 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.frame-wrapper {
    width: 402px;
    position: relative;
    height: 36px;
}
.group-div {
    width: 514px;
    position: relative;
    height: 36px;
}
.frame-wrapper1 {
    width: 519px;
    position: relative;
    height: 36px;
}
.personalized-recruitment-strat {
    width: 386px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.frame-wrapper2 {
    width: 436px;
    position: relative;
    height: 36px;
}
.group-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: 20px;
}
.frame-parent3 {
    width: 663px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px;
    z-index: 0;
}
.image-6-icon {
    width: 552px;
    position: relative;
    border-radius: 20px;
    height: 543px;
    object-fit: cover;
    z-index: 1;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    background-color: #fff;
    width: 199px;
    height: 202px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 4px;
    background-color: #ffd700;
    width: 20px;
    height: 46px;
}
.jan {
    position: absolute;
    top: 46px;
    left: 0px;
    font-weight: 500;
}
.rectangle-group {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 21px;
    height: 60px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 2px;
    border-radius: 4px;
    background-color: #ffd700;
    width: 20px;
    height: 60px;
}
.feb {
    position: absolute;
    top: 60px;
    left: 0px;
    font-weight: 500;
}
.rectangle-container {
    position: absolute;
    top: 14px;
    left: 28px;
    width: 22px;
    height: 74px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 2px;
    border-radius: 4px;
    background-color: #000;
    width: 20px;
    height: 42px;
}
.mar {
    position: absolute;
    top: 42px;
    left: 0px;
    font-weight: 500;
}
.rectangle-parent1 {
    position: absolute;
    top: 32px;
    left: 57px;
    width: 22px;
    height: 56px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 4px;
    background-color: #000;
    width: 20px;
    height: 49px;
}
.apr {
    position: absolute;
    top: 49px;
    left: 0px;
    font-weight: 500;
}
.rectangle-parent2 {
    position: absolute;
    top: 25px;
    left: 86px;
    width: 21px;
    height: 63px;
}
.group-child2 {
    position: absolute;
    top: 0px;
    left: 3px;
    border-radius: 4px;
    background-color: #000;
    width: 20px;
    height: 60px;
}
.rectangle-parent3 {
    position: absolute;
    top: 14px;
    left: 114px;
    width: 23px;
    height: 74px;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 4px;
    background-color: #000;
    width: 20px;
    height: 74px;
}
.jun {
    position: absolute;
    top: 74px;
    left: 0px;
    font-weight: 500;
}
.rectangle-parent4 {
    position: absolute;
    top: 0px;
    left: 144px;
    width: 21px;
    height: 88px;
}
.group-parent7 {
    position: absolute;
    top: 86px;
    left: 0px;
    width: 165px;
    height: 88px;
}
.div {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
}
.growth-sales {
    position: absolute;
    top: 23px;
    left: 0px;
    font-size: 10px;
    font-weight: 500;
    color: #aaa;
}
.parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 36px;
    font-size: 18px;
    color: #000;
}
.group-child4 {
    position: absolute;
    top: 0px;
    left: 129px;
    width: 48px;
    height: 30px;
}
.group-parent6 {
    position: absolute;
    top: 17px;
    left: 12px;
    width: 177px;
    height: 174px;
}
.rectangle-parent {
    width: 199px;
    position: absolute;
    margin: 0 !important;
    top: 321px;
    left: 781px;
    height: 202px;
    z-index: 2;
    font-size: 11px;
    color: #aaa;
    font-family: 'DM Sans';
}
.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    gap: 0px;
}
.frame-group {
    width: 1301px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 146px;
}
.home-page-inner {
    position: absolute;
    top: 2766px;
    left: calc(50% - 720px);
    background-color: #fff;
    width: 1440px;
    height: 1529px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 148px 69px;
    box-sizing: border-box;
}
.home-page-item {
    position: absolute;
    top: 3736px;
    left: calc(50% - 619px);
    border-radius: 12px;
    background-color: #fff;
    width: 199px;
    height: 202px;
    display: none;
}
.home-page-child1 {
    position: absolute;
    top: 5141px;
    left: 739px;
    background-color: #d9d9d9;
    width: 400px;
    height: 500px;
    display: none;
}
.group-child5 {
    position: absolute;
    top: 2px;
    left: 139px;
    max-height: 100%;
    width: 1440px;
}
.group-child6 {
    position: absolute;
    top: 0px;
    left: 139px;
    width: 1440px;
    height: 676px;
}
.meet-the-genius-container {
    width: 250px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.explore-the-brilliance {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans';
}
.meet-the-genius-team-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 68px;
}
.vector-icon1 {
    width: 18px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
}
.vector-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.next-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #000;
}
.frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 41px;
    font-size: 22px;
    color: #7f7d7d;
    font-family: 'DM Sans';
}
.frame-parent7 {
    position: absolute;
    top: 0px;
    left: 899px;
    width: 362px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 201px;
    font-size: 36px;
}
.rectangle-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.samatha-carson {
    align-self: stretch;
    position: relative;
    font-weight: 600;
}
.senior-consultant {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
    color: #008080;
}
.samatha-carson-parent {
    position: absolute;
    top: 506px;
    left: 0px;
    width: 174px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangle-parent5 {
    position: absolute;
    top: 1px;
    left: 440px;
    width: 400px;
    height: 557px;
}
.rectangle-parent6 {
    position: absolute;
    top: 1px;
    left: 1320px;
    width: 400px;
    height: 557px;
}
.samatha-carson-group {
    position: absolute;
    top: 506px;
    left: 45px;
    width: 174px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangle-parent7 {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 400px;
    height: 557px;
}
.frame-parent6 {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 1720px;
    height: 558px;
}
.group-parent8 {
    position: absolute;
    top: 4455px;
    left: -140px;
    width: 1720px;
    height: 676px;
    font-size: 20px;
}
.hear-firsthand-how {
    width: 530px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
    display: inline-block;
}
.trusted-by-leading-companies-w-parent {
    width: 627px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.group-child9 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 14px;
    background-color: #fff;
    width: 839px;
    height: 300px;
}
.marketing-manager {
    position: absolute;
    top: 30px;
    left: 0px;
}
.ethan-carter {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
}
.marketing-manager-parent {
    position: absolute;
    top: 223px;
    left: 29px;
    width: 141px;
    height: 51px;
}
.their-professionalism-and {
    position: absolute;
    top: 38px;
    left: 29px;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    display: inline-block;
    width: 723px;
}
.rectangle-parent8 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 839px;
    height: 300px;
}
.group-child10 {
    position: absolute;
    top: 0px;
    left: 863px;
    border-radius: 14px;
    width: 397px;
    height: 300px;
    object-fit: cover;
}
.group-parent9 {
    width: 1260px;
    position: relative;
    height: 300px;
}
.group-wrapper {
    width: 1300px;
    border-radius: 20px;
    background-color: #e0e0e0;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: #4c4c4c;
    font-family: 'DM Sans';
}
.logo-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 163px;
    height: 36px;
    overflow: hidden;
}
.logo-icon1 {
    position: absolute;
    top: 0px;
    left: 273px;
    width: 147px;
    height: 36px;
    overflow: hidden;
}
.logo-icon2 {
    position: absolute;
    top: 0px;
    left: 530px;
    width: 157px;
    height: 36px;
    overflow: hidden;
}
.logo-icon3 {
    position: absolute;
    top: 0px;
    left: 797px;
    width: 95px;
    height: 36px;
    overflow: hidden;
}
.logo-icon4 {
    position: absolute;
    top: 0px;
    left: 1002px;
    width: 182px;
    height: 36px;
    overflow: hidden;
}
.logo-icon5 {
    position: absolute;
    top: 0px;
    left: 1294px;
    width: 126px;
    height: 36px;
    overflow: hidden;
}
.logo-parent {
    width: 1420px;
    position: relative;
    height: 36px;
}
.frame-parent9 {
    position: absolute;
    top: 6749px;
    left: calc(50% - 710px);
    width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    text-align: center;
}
.our-specialisms {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-family: 'DM Sans';
}
.our-specialisms-parent {
    width: 517px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 46px;
    left: 0px;
    font-size: 16px;
    font-family: 'DM Sans';
    display: inline-block;
    width: 330px;
    height: 62px;
}
.investment-banking-parent {
    width: 330px;
    position: relative;
    height: 108px;
}
.frame-inner {
    align-self: stretch;
    position: relative;
    border-radius: 16px;
    max-width: 100%;
    overflow: hidden;
    height: 325px;
    flex-shrink: 0;
    object-fit: cover;
}
.group-parent10 {
    width: 377px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 27px;
}
.frame-wrapper3 {
    width: 417px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background-color: #008080;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 18px;
    box-sizing: border-box;
    z-index: 0;
}
.vector-icon3 {
    width: 22.6px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
}
.vector-container {
    width: 40px;
    border-radius: 30px;
    background-color: #ffd700;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}
.frame-parent13 {
    width: 417px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    color: #f0f2f0;
}
.frame-wrapper4 {
    width: 417px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background-color: #fff;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 18px;
    box-sizing: border-box;
    z-index: 0;
}
.frame-parent14 {
    width: 417px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
}
.frame-parent12 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
}
.frame-child5 {
    width: 417px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background-color: #000;
    height: 500px;
    z-index: 0;
}
.view-all {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 316px;
}
.vector-icon8 {
    position: absolute;
    top: 13px;
    left: 113.24px;
    width: 112px;
    height: 13px;
    object-fit: contain;
}
.view-all-parent {
    width: 316px;
    position: absolute;
    margin: 0 !important;
    top: 427px;
    left: 36px;
    height: 39px;
    z-index: 1;
}
.frame-parent19 {
    width: 412px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    font-size: 26px;
    color: #fff;
}
.frame-parent16 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}
.frame-parent11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    text-align: left;
    font-size: 24px;
}
.frame-parent10 {
    position: absolute;
    top: 5311px;
    left: calc(50% - 648px);
    width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    text-align: center;
}
.group-child11 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04151a;
    width: 1440px;
    height: 594px;
}
.rectangle-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 594px;
}
.image-2-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 134px;
    height: 34px;
    object-fit: cover;
}
.image-3-icon {
    position: absolute;
    top: 0px;
    left: 143px;
    width: 98px;
    height: 34px;
    object-fit: cover;
}
.image-2-parent {
    width: 241px;
    position: relative;
    height: 34px;
}
.driving-success-by {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 300px;
}
.privacy-policy {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 300;
}
.term-conditions {
    position: absolute;
    top: 1px;
    left: 116px;
    font-weight: 300;
}
.line-div {
    position: absolute;
    top: 1px;
    left: 109px;
    border-right: 1px solid #737373;
    box-sizing: border-box;
    width: 1px;
    height: 21px;
}
.privacy-policy-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 253px;
    height: 22px;
}
.group-child12 {
    position: absolute;
    top: 32px;
    left: 0px;
    border-top: 1px solid #737373;
    box-sizing: border-box;
    width: 255px;
    height: 1px;
}
.group-parent17 {
    position: absolute;
    top: 94px;
    left: 0px;
    width: 254px;
    height: 32px;
    font-size: 16px;
    color: #d7d7d7;
}
.driving-success-by-connecting-parent {
    width: 300px;
    position: relative;
    height: 126px;
}
.group-parent16 {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
}
.home-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    font-family: 'DM Sans';
}
.links-parent {
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.other-parent {
    width: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.facebook-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    font-family: 'DM Sans';
}
.social-media-parent {
    width: 143px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent21 {
    width: 662px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
    font-family: Poppins;
}
.frame-parent20 {
    position: absolute;
    top: 283px;
    left: 70px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
}
.group-parent15 {
    position: absolute;
    top: 8196px;
    left: 0px;
    width: 1440px;
    height: 594px;
    font-size: 20px;
    color: #fff;
    font-family: 'DM Sans';
}
.clip-path-group {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 761px;
}
.expert-hiring-services {
    width: 422px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.whether-youre-looking1 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
}
.expert-hiring-services-to-driv-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.get-started-now-wrapper {
    width: 166px;
    border-radius: 10px;
    background-color: #008080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #f4f4f4;
}
.frame-parent23 {
    width: 436px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.frame-child6 {
    width: 159px;
    position: relative;
    height: 60px;
}
.over-10k-customers {
    width: 366px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.group-parent18 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 20px;
}
.frame-parent22 {
    position: absolute;
    top: 87px;
    left: 66px;
    width: 549px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.clip-path-group-parent {
    position: absolute;
    width: 90.28%;
    top: 7627px;
    right: 4.86%;
    left: 4.86%;
    height: 761px;
    color: #fff;
}
.group-child13 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #008080;
    width: 500px;
    height: 540px;
}
.professional-portrait-of-a-man {
    position: absolute;
    top: 60px;
    left: 33px;
    width: 434px;
    height: 480px;
    object-fit: cover;
}
.rectangle-parent9 {
    position: absolute;
    top: 0px;
    left: 83px;
    width: 500px;
    height: 540px;
}
.group-child14 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: #fff;
    width: 263px;
    height: 65px;
}
.ellipse-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.hires-made {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
}
.ellipse-div {
    position: absolute;
    top: 0.44px;
    left: 84.22px;
    border-radius: 50%;
    background-color: #ececec;
    width: 4.6px;
    height: 4.6px;
}
.group-child15 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: #ececec;
    width: 81px;
    height: 5px;
}
.group-child16 {
    position: absolute;
    top: 0px;
    left: 92px;
    border-radius: 30px;
    background-color: #ececec;
    width: 70px;
    height: 5px;
}
.ellipse-group {
    position: absolute;
    top: 34px;
    left: 0px;
    width: 162px;
    height: 5px;
}
.hires-made-parent {
    position: absolute;
    top: 1px;
    left: 67px;
    width: 162px;
    height: 39px;
}
.ellipse-parent {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 229px;
    height: 40px;
}
.rectangle-parent10 {
    position: absolute;
    top: 270px;
    left: 352px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 263px;
    height: 65px;
}
.group-child17 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: #fff;
    width: 276px;
    height: 65px;
}
.performance-goal-parent {
    position: absolute;
    top: 1px;
    left: 67px;
    width: 184px;
    height: 39px;
}
.ellipse-container {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 251px;
    height: 40px;
}
.rectangle-parent11 {
    position: absolute;
    top: 371px;
    left: 377px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 276px;
    height: 65px;
}
.group-child22 {
    position: absolute;
    top: 0px;
    left: calc(50% - 132px);
    border-radius: 12px;
    background-color: #fff;
    width: 264px;
    height: 267px;
}
.performance-category {
    position: absolute;
    top: 23px;
    left: calc(50% - 113px);
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.all {
    position: absolute;
    top: 63px;
    left: calc(50% - 113px);
    font-weight: 500;
    color: #000;
}
.banking {
    position: absolute;
    top: 64px;
    left: calc(50% - 74px);
}
.insurance1 {
    position: absolute;
    top: 64px;
    left: calc(50% - 5px);
}
.global {
    position: absolute;
    top: 64px;
    left: calc(50% + 74px);
}
.group-child23 {
    position: absolute;
    top: 87px;
    left: calc(50% - 113px);
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 19px;
    height: 1px;
}
.group-child24 {
    position: absolute;
    top: 87px;
    left: calc(50% - 95px);
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
    width: 216px;
    height: 1px;
}
.group-child25 {
    position: absolute;
    top: 0px;
    left: calc(50% - 100px);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.group-child26 {
    position: absolute;
    top: 0px;
    left: calc(50% - 77.5px);
    border-radius: 2px;
    background-color: #f0f0f0;
    width: 130px;
    height: 7px;
}
.group-child27 {
    position: absolute;
    top: 12px;
    left: calc(50% - 77.5px);
    border-radius: 2px;
    background-color: #f0f0f0;
    width: 155px;
    height: 7px;
}
.rectangle-parent13 {
    position: absolute;
    top: 6px;
    left: calc(50% - 55px);
    width: 155px;
    height: 19px;
}
.ellipse-parent2 {
    position: absolute;
    top: 110px;
    left: calc(50% - 119px);
    width: 200px;
    height: 30px;
}
.ellipse-parent3 {
    position: absolute;
    top: 156px;
    left: calc(50% - 119px);
    width: 200px;
    height: 30px;
}
.ellipse-parent4 {
    position: absolute;
    top: 202px;
    left: calc(50% - 119px);
    width: 200px;
    height: 30px;
}
.group-icon6 {
    position: absolute;
    top: 108px;
    left: calc(50% + 97px);
    width: 20px;
    height: 20px;
}
.group-icon7 {
    position: absolute;
    top: 158px;
    left: calc(50% + 97px);
    width: 20px;
    height: 20px;
}
.group-icon8 {
    position: absolute;
    top: 208px;
    left: calc(50% + 97px);
    width: 20px;
    height: 20px;
}
.rectangle-parent12 {
    position: absolute;
    top: 250px;
    left: calc(50% - 326.5px);
    width: 264px;
    height: 267px;
    font-size: 14px;
    color: #666;
}
.svgxmlbase64phn2zyb4bwxucz0-icon {
    position: absolute;
    top: 28px;
    left: 112px;
    width: 61.1px;
    height: 80px;
    overflow: hidden;
}
.group-parent19 {
    position: absolute;
    top: 7714px;
    left: 708px;
    width: 653px;
    height: 540px;
    font-size: 16px;
}
.your-career-is {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
    color: #535353;
    display: inline-block;
    height: 41px;
    flex-shrink: 0;
}
.expert-hiring-services-to-driv-group {
    width: 589px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-wrapper8 {
    width: 1301px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.frame-child7 {
    width: 271px;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    height: 540px;
    object-fit: cover;
}
.contingent-search {
    position: absolute;
    top: 69.34px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 207px;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #008080;
    display: inline-block;
    width: 25px;
}
.contingent-search-parent {
    width: 207px;
    position: relative;
    height: 177.3px;
}
.lorem-ipsum-dolor6 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-family: 'DM Sans';
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    height: 188px;
    flex-shrink: 0;
}
.vector-icon9 {
    width: 20.1px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
}
.vector-wrapper4 {
    width: 34px;
    border-radius: 8px;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.find-out-more-parent {
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 4px;
    gap: 42px;
    font-size: 16px;
}
.frame-parent27 {
    width: 219px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px;
}
.rectangle-parent16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.frame-wrapper9 {
    width: 528px;
    box-shadow: 0px 2px 9.6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    height: 540px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.hr {
    margin: 0;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #ffd700;
    display: inline-block;
    width: 25px;
}
.lorem-ipsum-dolor7 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    font-family: 'DM Sans';
    color: rgba(240, 242, 240, 0.7);
    display: inline-block;
    height: 188px;
    flex-shrink: 0;
}
.find-out-more-group {
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #f0f2f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 4px;
    gap: 42px;
    font-size: 16px;
}
.frame-wrapper10 {
    width: 528px;
    box-shadow: 0px 2px 9.6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #008080;
    height: 540px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f0f2f0;
}
.retained-search {
    position: absolute;
    top: 69.56px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 207px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #008080;
    display: inline-block;
    width: 30px;
}
.retained-search-parent {
    width: 207px;
    position: relative;
    height: 177.6px;
}
.frame-parent26 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    text-align: left;
    font-size: 36px;
}
.frame-parent25 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}
.vector-icon12 {
    width: 20px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
}
.vector-wrapper7 {
    width: 56px;
    border-radius: 6px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.frame-icon {
    width: 56px;
    border-radius: 6px;
    height: 56px;
    object-fit: contain;
}
.frame-parent30 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;
}
.frame-parent24 {
    position: absolute;
    top: 1629px;
    left: calc(50% - 815px);
    width: 1630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    text-align: center;
}
.image-2-icon1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 106.1px;
    height: 27px;
    object-fit: cover;
}
.image-3-icon1 {
    position: absolute;
    top: 0px;
    left: 111px;
    width: 78.1px;
    height: 27px;
    object-fit: cover;
}
.image-2-group {
    width: 189.1px;
    position: relative;
    height: 27px;
}
.about-us-parent {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}
.contact-us-wrapper {
    width: 130px;
    border-radius: 10px;
    background-color: #03151b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    box-sizing: border-box;
    color: #f4f4f4;
}
.group-parent23 {
    width: 1302px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}
.home-page-inner1 {
    position: absolute;
    top: 26px;
    left: calc(50% - 694px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #008080;
    width: 1388px;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 22px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}
.home-page {
    width: 100%;
    position: relative;
    background-color: #f0f2f0;
    height: 8790px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #000;
    font-family: Poppins;
}

